﻿/*top and navigation bar*/

#O365_NavHeader,#s4-ribbonrow,#s4-titlerow,#sideNavBox,#suiteBarTop{
    /*display:none!important;*/
}
/*content*/
#contentBox{
    margin:0!important;
}
#btnLang:hover{
    background-color:rgb(80, 177, 140);
}

#sideNavBox,#s4-titlerow,#s4-bodyContainer,#contentRow{
    display:none!important;
}


