﻿/*top and navigation bar*/

#O365_NavHeader,#s4-ribbonrow,#s4-titlerow,#sideNavBox,#suiteBarTop{
    /*display:none!important;*/
}
/*content*/
#contentBox{
    margin:0!important;
}
#btnLang:hover{
    background-color:rgb(80, 177, 140);
}

#sideNavBox,#s4-titlerow,#s4-bodyContainer,#contentRow{
    display:none!important;
}

#globalNavBox {
   /*display:none!important;*/
}
.welcome-content{
    display:none!important;

}
div.article, div.welcome {
    padding:0
}

/**********************/
/*div#suiteBarTop {
    display: none;
}*/
/*.o365cs-nav-leftAlign {
    display: none !important;
}

div#s4-ribbonrow {
    display: none;
}*/

#s4-titlerow {
    display: none !important;
}

#sideNavBox {
    display: none;
}

#contentBox {
    margin: 0px;
}

#contentRow {
    padding-top: 0px;
}

#ms-cui-ribbonTopBars {
    display: none !important;
}

/*#s4-workspace {
    overflow: auto !important;
    overflow-x: hidden !important;
}*/

.ms-signInLink {
    display: none !important;
}


/*Home*/
/*.ms-webpart-zone,.ms-webpart-cell-vertical,.ms-webpart-chrome-vertical{
display:block !important
}*/
 
.tableCol-75 {
    display: block !important;
    min-width: 100%;
}
.ms-webpart-zone ,
.ms-webpart-cell-vertical,
 .ms-webpart-chrome-vertical,
.ms-table{
    display: block;
}
#s4-workspace { 
    overflow: hidden !important;
}
.ms-webpartzone-cell,.cell-margin {
    margin: 0 !important;
}
input[type=button], input[type=reset], input[type=submit], button ,.ms-core-navigation {
    font-family:inherit
}

 .ms-rtestate-field p, p.ms-rteElement-P{
         margin: 0;
    line-height: normal;
 }
 .newWorkShops .workshop p br {
     display:none
 }