 /* 

=================================
increase 2px
=================================

*/

 .buttongra__large {
     font-size: 17px !important;
 }

 .buttongra__media {
     font-size: 17px !important;
 }

 .buttongra__small {
     font-size: 15px !important;
 }

 .buttongra__pdf {
     font-size: 14px !important;
 }

 .large__title {
     font-size: 17px !important;
 }

 .media__title {
     font-size: 13px !important;
 }

 .font_p_large {
     font-size: 20px !important;
 }

 .font_p_header {
     font-size: 14px !important;
 }

 .font_p_small {
     font-size: 13px !important;
 }

 .ico__large {
     font-size: 26px !important;
 }

 .ico__media {
     font-size: 20px !important;
 }

 .ico__header__big {
     font-size: 20px !important;
 }

 .font_p_header .ico__header__big.active {
     font-size: 20px !important;
 }

 .ico__small {
     font-size: 15px !important;
 }

 .span__Basic {
     font-size: 16px !important;
 }

 ul.list-inline.font_p_header.inline li span.ico__small {
     font-size: 14px !important;
 }

 .header--list .nav li a {
     font-size: 14px !important;
 }

 .header--list .nav li a span.home {
     font-size: 20px !important;
 }

 .header--list .nav li a span.arrow {
     font-size: 21px !important;
 }

 .buttongra__media span.ico__media {
     font-size: 20px !important;
 }

 span.span__bold {
     font-size: 13px !important;
 }

 .copy--right p {
     font-size: 12px !important;
 }

 ul.list-inline.inline.list__nav__footer li a {
     font-size: 12px !important;
 }

 section.side--menu span.name-option {
     font-size: 12px !important;
 }

 .media__center__items .media__center__items_detils h2 {
     font-size: 19px !important;
 }

 section.header-main ul.list-inline.links a {
     font-size: 14px !important;
 }

 .select-data h3 {
     font-size: 16px !important;
 }

 .select-data select {
     font-size: 16px !important;
 }

 .form-group.select-group svg.svg-inline--fa.fa-calendar-alt.fa-w-14 {
     font-size: 18px !important;
 }

 .form-group.select-group svg.svg-inline--fa.fa-angle-down.fa-w-10 {
     font-size: 18px !important;
 }

 .info__item__details span.info__item__details__span {
     font-size: 12px !important;
 }

 ul.pagination li.page-item:first-child a {
     font-size: 16px !important;
 }

 ul.pagination li.page-item:last-child a {
     font-size: 16px !important;
 }

 li.page-item a {
     font-size: 14px !important;
 }

 .details__item__media__header span.info__item__details__span {
     font-size: 12px !important;
 }

 .details__item__media__paragraph p {
     font-size: 15px !important;
 }

 td.greenColor {
     font-size: 16px !important;
 }

 .btnDownload {
     font-size: 13px !important;
 }

 .numper__item {
     font-size: 13px !important;
 }

 .numper__item span.numper {
     font-size: 12px !important;
 }

 .buttons-item__new button.read {
     font-size: 13px !important;
 }

 button.button__download {
     font-size: 13px !important;
 }

 .heaer-img h1 {
     font-size: 32px !important;
 }

 button.bt-training {
     font-size: 18px !important;
 }

 .workshop_details__button button.bt {
     font-size: 14px !important;
 }

 .message-enter p {
     font-size: 18px !important;
 }

 h2.h2_tit_2 {
     font-size: 22px !important;
 }

 span.write__normal {
     font-size: 18px !important;
 }

 span.data-line__date {
     font-size: 18px !important;
 }

 h2.h2_tit_3 {
     font-size: 20px !important;
 }

 h2.h2_tit_1 {
     font-size: 24px !important;
 }

 .form-group label {
     font-size: 17px !important;
 }

 .option-log a {
     font-size: 16px !important;
 }

 .Verification_code .Verification_code_numper {
     font-size: 65px !important;
 }

 section.login.forget p.nots_p {
     font-size: 18px !important;
 }

 section.login.forget form h3 {
     font-size: 18px !important;
 }

 .form-group.selected select {
     font-size: 18px !important;
 }

 .row.User--applay--form--shadow form h3 {
     font-size: 20px !important;
 }

 .Request_Status_inprogress__data .inprogress__data_tit ul li {
     font-size: 17px !important;
 }

 .Request_Status_inprogress__data .inprogress__data_value ul li {
     font-size: 17px !important;
 }

 .Request_Status_inprogress__Status h2.inprogress__Status_tit {
     font-size: 24px !important;
 }

 .Request_Status_inprogress__Status h2.inprogress__Statuu {
     font-size: 21px !important;
 }

 .Request_Status_inprogress__Status p {
     font-size: 18px !important;
 }

 .Request_Status_inprogress__Status__bt button.bt-training {
     font-size: 15px !important;
 }

 section.login.User--applay--form .side__menu__links ul.menu__links li a {
     font-size: 16px !important;
 }

 h2.h2_tit_4 {
     font-size: 18px !important;
 }

 section.login.User--applay--form .Complete__file p {
     font-size: 13px !important;
 }

 .statistics__biography ul.statistic__biography span.statistic__biography__name {
     font-size: 18px !important;
 }

 .statistics__biography ul.statistic__biography span.statistic__biography__value {
     font-size: 18px !important;
 }

 .statistics__biography ul.statistic__biography li p {
     font-size: 18px !important;
 }

 .add__photo__career .add__photo__career__info h2.h2_tit_account {
     font-size: 23px;
 }

 .add__photo__career .add__photo__career__info p {
     font-size: 18px !important;
 }

 h2.h2_tit_0 {
     font-size: 28px !important;
 }

 main.content.careers-forms section.login.User--applay--form .form .form-group.addfile select {
     font-size: 18px !important;
 }

 .label_check {
     font-size: 24px !important;
 }

 main.content.careers-forms section.login.User--applay--form .form.form__career .training__user__item .option-item__data__form__career a {
     font-size: 14px !important;
 }

 main.content.careers-forms section.login.User--applay--form .form.form__career.form__career2 h3 {
     font-size: 18px !important;
 }

 .education__level__fund h3 {
     font-size: 18px !important;
 }

 span.bt-training {
     font-size: 16px !important;
 }

 .form.form__career.form__career2.no__box__shadow.no__box__shadow__additem .form-box-shadow .form-group.form-group_defult_check p {
     font-size: 12px !important;
 }

 main.content .heaer-img h1 {
     font-size: 22px !important;
 }

 .item__career__info .Request_Status_inprogress__Status p {
     font-size: 17px !important;
 }

 .labels_check.labels_check__conditions label.label_check {
     font-size: 18px !important;
 }

 .list__options__jops h4 {
     font-size: 19px !important;
 }

 .list__options__jops ul.list__options li label.label_check {
     font-size: 15px !important;
 }

 .list__options__jops a.more {
     font-size: 14px !important;
 }

 section.career--jops .details__jop .details__jop__header span.span_position_date {
     font-size: 13px !important;
 }

 section.career--jops .details__jop .details__jop__header h3 {
     font-size: 19px !important;
 }

 section.career--jops .details__jop .details__jop__header p {
     font-size: 15px !important;
 }

 section.career--jops .details__jop .details__jop__footer .details__jop__footer__more li.ico__small a {
     font-size: 13px !important;
 }

 section.career--jops .details__jop .details__jop__header span.position_done {
     font-size: 13px !important;
 }

 .details__jop__footer__more .nots {
     font-size: 13px !important;
 }

 .heaer-img.heaer-img--search h1 {
     font-size: 34px !important;
 }

 .add__photo__career.add__photo__career__shadow .add__photo__career__img span {
     font-size: 16px !important;
 }

 .add__photo__career.add__photo__career__shadow .add__photo__career__info h4 {
     font-size: 18px !important;
 }

 section.login.User--applay--form .Complete__file p span {
     font-size: 18px !important;
 }

 section.login.User--applay--form.User--applay--form__prophile_14 .row.User--applay--form--shadow .form p {
     font-size: 17px !important;
 }

 .career__details .training__user__item .training__user__item__data-line li span.small_icon {
     font-size: 15px !important;
 }

 .career__details .career__details__header h2.h2_tit_0 {
     font-size: 24px !important;
 }

 section.career--jops.Career--jops_Details .option-log span.small_icon {
     font-size: 16px !important;
 }

 section.section__home .owl-nav button.owl-prev {
     font-size: 20px !important;
 }

 section.section__home .owl-nav button.owl-next {
     font-size: 20px !important;
 }

 .section__home__item h3.home__item__info {
     font-size: 15px !important;
 }

 li.Statistics__li .Statistics__info h3 {
     font-size: 16px !important;
 }

 li.gates__li .gates_tit h3 {
     font-size: 16px !important;
 }

 section.header__Workshops_list h2 {
     font-size: 32px !important;
 }

 .tit__Workshops h2 {
     font-size: 15px !important;
 }

 .workshop .workshop__date h2.workshop__date_day {
     font-size: 52px !important;
 }

 .workshop .workshop__date span.workshop__date-month {
     font-size: 22px !important;
 }

 .workshop__details h2 {
     font-size: 16px !important;
 }

 .workshop__details p {
     font-size: 15px !important;
 }

 .no__workshop h2 {
     font-size: 24px !important;
 }

 .Workshops_list__box__shadow .details__item__media__options ul.list-inline.anather__options.inline.text-right li.ico__small {
     font-size: 13px !important;
 }

 .workshop_details__button button.bt span.small_icon {
     font-size: 16px !important;
 }

 .workshop_table_all ul#myTab li.nav-item a h2 {
     font-size: 16px !important;
 }

 .workshop_table_all ul#myTab li.nav-item a p {
     font-size: 13px !important;
 }

 .instructor_img span {
     font-size: 14px !important;
 }

 .instructor__details h2 {
     font-size: 16px !important;
 }

 .instructor__details h3 {
     font-size: 15px !important;
 }

 .reate h3 {
     font-size: 17px !important;
 }

 .reate label {
     font-size: 17px !important;
 }

 .workshop__done h2 {
     font-size: 24px !important;
 }

 .workshop__done p,
 .workshop__done span {
     font-size: 18px !important;
 }

 .workshop__done h3 {
     font-size: 52px !important;
 }

 section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .instructor .instructor__details p.frist-child-p {
     font-size: 16px !important;
 }

 section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .instructor .instructor__details p {
     font-size: 17px !important;
 }

 .Rating label {
     font-size: 17px !important;
 }

 section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .tit__Workshops.row .Filter_idea label {
     font-size: 16px !important;
 }

 section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .tit__Workshops .Filter_idea select {
     font-size: 16px !important;
 }

 .Rating.Rating_hand ul.Rat li span.icon {
     font-size: 24px !important;
 }

 .datepickers .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group input#datepicker {
     font-size: 16px !important;
 }

 .datepickers .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group span.input-group-append button.btn.btn-outline-secondary.border-left-0 i.gj-icon {
     font-size: 20px !important;
 }

 .container.Workshops_list_container button.bt-training span.small_icon {
     font-size: 14px !important;
 }

 .survey__questions__item label {
     font-size: 16px !important;
 }

 .survey__questions__item .form-group .labels_check label.label_check {
     font-size: 15px !important;
 }

 ul.workshop__content li {
     font-size: 15px !important;
 }

 section.login.User--applay--form .side__menu__links ul.menu__links ul.menu__links__sup li a {
     font-size: 15px !important;
 }

 .Partners_list.experts__list .Partners_list__item .Partners_list__item__info h2 {
     font-size: 17px !important;
 }

 .Partners_list.experts__list .Filter_idea select {
     font-size: 16px !important;
 }

 .experts__list__details p {
     font-size: 15px !important;
 }

 .Partners_list.experts__list.other .Partners_list__item__info h2 {
     font-size: 18px !important;
 }

 .Partners_list.experts__list_other .Partners_list__items h2.h2_tit_1 {
     font-size: 18px !important;
 }

 .Partners_list.experts__list_other .Partners_list__items h3 {
     font-size: 18px !important;
 }

 /* start media screen */

 @media (min-width:0px)and (max-width:540px) {
     .header-top p.font_p_header {
         font-size: 11px !important;
     }
 }

 @media (min-width:541px) and (max-width:767px) {
     .header-top p.font_p_header {
         font-size: 11px !important;
     }

     section.login.User--applay--form .side__menu__links ul.menu__links li a {
         font-size: 15px !important;
     }

     .statistics__biography h2.h2_tit_4 {
         font-size: 16px !important;
     }

     .statistics__biography ul.statistic__biography span.statistic__biography__name {
         font-size: 15px !important;
     }

     .statistics__biography ul.statistic__biography span.statistic__biography__value {
         font-size: 14px !important;
     }

     .statistics__biography ul.statistic__biography li p {
         font-size: 15px !important;
     }
 }

 @media (min-width:768px) and (max-width:991px) {
     section.login.User--applay--form .side__menu__links ul.menu__links li a {
         font-size: 15px !important;
     }

     .statistics__biography h2.h2_tit_4 {
         font-size: 16px !important;
     }

     .statistics__biography ul.statistic__biography span.statistic__biography__name {
         font-size: 15px !important;
     }

     .statistics__biography ul.statistic__biography span.statistic__biography__value {
         font-size: 14px !important;
     }

     .statistics__biography ul.statistic__biography li p {
         font-size: 15px !important;
     }

     .header-top p.font_p_header {
         font-size: 11px !important;
     }
 }

 @media (min-width:992px) and (max-width:1199px) {
     .header-top p.font_p_header {
         font-size: 11px !important;
     }

     .copy--right p {
         font-size: 11px !important;
     }
 }

 @media (min-width:1200px) and (max-width:1299px) {}

 .mainTabCareers.nav-pills .nav-link {
     font-size: 18px !important;
 }

 .btn-simple.searches {
     font-size: 18px !important;
 }

 /* update */

 .showVoting h3,
 .newsLetter h3 {
     font-size: 22px !important;
 }

 .showVoting span {
     font-size: 18px !important;
 }

 .showVoting .label_check {
     font-size: 19px !important;
 }

 .votingBtn .bt-training {
     font-size: 18px !important;
 }

 .votingAccordion .panel-title p {
     font-size: 18px;
 }

 .votingAccordion a {
     font-size: 22px;
 }

 .veryGood p {
     font-size: 17px;
 }

 .sideMenuHelp span.name-option {
     font-size: 14px;
 }
button.bt-training, .option-log input, a.bt-training,input.bt-training {
    font-size: 18px;
}
.paginationCustome span,.paginationCustome a {
    font-size:16px
}

.ms-rteFontSize-3 {
    font-size:14px !important
}
.jobList th {
    font-size: 18px;
}
.jobList td { 
    font-size: 16px; 
}
span.bt-training.visitIt {
    font-size:13px !important
}
.noData.jobList h3 {
    font-size: 24px; 
}
.form.form__career.form__career2 .h3_tit_1 {

    font-size: 26px !important;
}




.header--list .nav .megaMenu li a {
    font-size: 15px !important;
}

.header--list .nav li .megaMenu li a {
    font-size: 15px !important;
}

.newContent h2 {
    font-size: 32px !important;
}

.listLinks a {
    font-size: 16px !important;
}

.trainingDetails h5 {
    font-size: 20px !important;
}

.trainingDetails h2 {
    font-size: 32px !important;
}

.trainingDetails p {
    font-size: 18px !important;
}
