/* 

=================================
normal size
=================================

*/
.buttongra__large {
    font-size: 15px !important;
}

.buttongra__media {
    font-size: 15px !important;
}

.buttongra__small {
    font-size: 13px !important;
}

.buttongra__pdf {
    font-size: 12px !important;
}

.large__title {
    font-size: 15px !important;
}

.media__title {
    font-size: 11px !important;
}

.font_p_large {
    font-size: 18px !important;
}

.font_p_header {
    font-size: 12px !important;
}

.font_p_small {
    font-size: 11px !important;
}

.ico__large {
    font-size: 24px !important;
}

.ico__media {
    font-size: 18px !important;
}

.ico__header__big {
    font-size: 18px !important;
}

.font_p_header .ico__header__big.active {
    font-size: 18px !important;
}

.ico__small {
    font-size: 13px !important;
}

.span__Basic {
    font-size: 14px !important;
}


ul.list-inline.font_p_header.inline li span.ico__small {
    font-size: 12px !important;
}



.header--list .nav li a {
    font-size: 14px !important;
}

    .header--list .nav li a span.home {
        font-size: 18px !important;
    }

    .header--list .nav li a span.arrow {
        font-size: 19px !important;
    }


.buttongra__media span.ico__media {
    font-size: 18px !important;
}

span.span__bold {
    font-size: 11px !important;
}


.copy--right p {
    font-size: 10px !important;
}


ul.list-inline.inline.list__nav__footer li a {
    font-size: 10px !important;
}



section.side--menu span.name-option {
    font-size: 10px !important;
}



.media__center__items .media__center__items_detils h2 {
    font-size: 17px !important;
}


section.header-main ul.list-inline.links a {
    font-size: 12px !important;
}

.select-data h3 {
    font-size: 14px !important;
}


.select-data select {
    font-size: 14px !important;
}


.form-group.select-group svg.svg-inline--fa.fa-calendar-alt.fa-w-14 {
    font-size: 16px !important;
}

.form-group.select-group svg.svg-inline--fa.fa-angle-down.fa-w-10 {
    font-size: 16px !important;
}


.info__item__details span.info__item__details__span {
    font-size: 10px !important;
}


ul.pagination li.page-item:first-child a {
    font-size: 14px !important;
}


ul.pagination li.page-item:last-child a {
    font-size: 14px !important;
}


li.page-item a {
    font-size: 12px !important;
}

.details__item__media__header span.info__item__details__span {
    font-size: 10px !important;
}


.details__item__media__paragraph p {
    font-size: 13px !important;
}


td.greenColor {
    font-size: 14px !important;
}

.btnDownload {
    font-size: 11px !important;
}


.numper__item {
    font-size: 11px !important;
}

    .numper__item span.numper {
        font-size: 10px !important;
    }


.buttons-item__new button.read {
    font-size: 11px !important;
}

button.button__download {
    font-size: 11px !important;
}

.heaer-img h1 {
    font-size: 30px !important;
}


button.bt-training {
    font-size: 16px !important;
}

.workshop_details__button button.bt {
    font-size: 12px !important;
}


.message-enter p {
    font-size: 16px !important;
}

h2.h2_tit_2 {
    font-size: 20px !important;
}

span.write__normal {
    font-size: 16px !important;
}

span.data-line__date {
    font-size: 16px !important;
}


h2.h2_tit_3 {
    font-size: 18px !important;
}


h2.h2_tit_1 {
    font-size: 22px !important;
}


.form-group label {
    font-size: 15px !important;
}


.option-log a {
    font-size: 14px !important;
}

.Verification_code .Verification_code_numper {
    font-size: 63px !important;
}

section.login.forget p.nots_p {
    font-size: 16px !important;
}

section.login.forget form h3 {
    font-size: 16px !important;
}


.form-group.selected select {
    font-size: 16px !important;
}

.row.User--applay--form--shadow form h3 {
    font-size: 18px !important;
}


.Request_Status_inprogress__data .inprogress__data_tit ul li {
    font-size: 15px !important;
}

.Request_Status_inprogress__data .inprogress__data_value ul li {
    font-size: 15px !important;
}


.Request_Status_inprogress__Status h2.inprogress__Status_tit {
    font-size: 22px !important;
}

.Request_Status_inprogress__Status h2.inprogress__Statuu {
    font-size: 19px !important;
}

.Request_Status_inprogress__Status p {
    font-size: 16px !important;
}


.Request_Status_inprogress__Status__bt button.bt-training {
    font-size: 13px !important;
}

section.login.User--applay--form .side__menu__links ul.menu__links li a {
    font-size: 14px !important;
}


h2.h2_tit_4 {
    font-size: 16px !important;
}

section.login.User--applay--form .Complete__file p {
    font-size: 11px !important;
}

.statistics__biography ul.statistic__biography span.statistic__biography__name {
    font-size: 16px !important;
}

.statistics__biography ul.statistic__biography span.statistic__biography__value {
    font-size: 16px !important;
}


.statistics__biography ul.statistic__biography li p {
    font-size: 16px !important;
}



.add__photo__career .add__photo__career__info h2.h2_tit_account {
    font-size: 21px;
}

.add__photo__career .add__photo__career__info p {
    font-size: 16px !important;
}


h2.h2_tit_0 {
    font-size: 26px !important;
}


main.content.careers-forms section.login.User--applay--form .form .form-group.addfile select {
    font-size: 16px !important;
}


.label_check {
    font-size: 22px !important;
}

main.content.careers-forms section.login.User--applay--form .form.form__career .training__user__item .option-item__data__form__career a {
    font-size: 12px !important;
}



main.content.careers-forms section.login.User--applay--form .form.form__career.form__career2 h3 {
    font-size: 16px !important;
}

.education__level__fund h3 {
    font-size: 16px !important;
}


span.bt-training {
    font-size: 14px !important;
}

.form.form__career.form__career2.no__box__shadow.no__box__shadow__additem .form-box-shadow .form-group.form-group_defult_check p {
    font-size: 10px !important;
}


main.content .heaer-img h1 {
    font-size: 20px !important;
}

.item__career__info .Request_Status_inprogress__Status p {
    font-size: 15px !important;
}

.labels_check.labels_check__conditions label.label_check {
    font-size: 16px !important;
}


.list__options__jops h4 {
    font-size: 17px !important;
}

.list__options__jops ul.list__options li label.label_check {
    font-size: 13px !important;
}

.list__options__jops a.more {
    font-size: 12px !important;
}


section.career--jops .details__jop .details__jop__header span.span_position_date {
    font-size: 11px !important;
}

section.career--jops .details__jop .details__jop__header h3 {
    font-size: 17px !important;
}


section.career--jops .details__jop .details__jop__header p {
    font-size: 13px !important;
}


section.career--jops .details__jop .details__jop__footer .details__jop__footer__more li.ico__small a {
    font-size: 11px !important;
}


section.career--jops .details__jop .details__jop__header span.position_done {
    font-size: 11px !important;
}

.details__jop__footer__more .nots {
    font-size: 11px !important;
}


.heaer-img.heaer-img--search h1 {
    font-size: 32px !important;
}

.add__photo__career.add__photo__career__shadow .add__photo__career__img span {
    font-size: 14px !important;
}

.add__photo__career.add__photo__career__shadow .add__photo__career__info h4 {
    font-size: 16px !important;
}

section.login.User--applay--form .Complete__file p span {
    font-size: 16px !important;
}

section.login.User--applay--form.User--applay--form__prophile_14 .row.User--applay--form--shadow .form p {
    font-size: 15px !important;
}

.career__details .training__user__item .training__user__item__data-line li span.small_icon {
    font-size: 13px !important;
}


.career__details .career__details__header h2.h2_tit_0 {
    font-size: 22px !important;
}

section.career--jops.Career--jops_Details .option-log span.small_icon {
    font-size: 14px !important;
}


section.section__home .owl-nav button.owl-prev {
    font-size: 18px !important;
}

section.section__home .owl-nav button.owl-next {
    font-size: 18px !important;
}

.section__home__item h3.home__item__info {
    font-size: 13px !important;
}

li.Statistics__li .Statistics__info h3 {
    font-size: 14px !important;
}

li.gates__li .gates_tit h3 {
    font-size: 14px !important;
}

section.header__Workshops_list h2 {
    font-size: 30px !important;
}

.tit__Workshops h2 {
    font-size: 13px !important;
}

.workshop .workshop__date h2.workshop__date_day {
    font-size: 50px !important;
}

.workshop .workshop__date span.workshop__date-month {
    font-size: 20px !important;
}

.workshop__details h2 {
    font-size: 14px !important;
}

.workshop__details p {
    font-size: 13px !important;
}

.no__workshop h2 {
    font-size: 22px !important;
}


.Workshops_list__box__shadow .details__item__media__options ul.list-inline.anather__options.inline.text-right li.ico__small {
    font-size: 11px !important;
}



.workshop_details__button button.bt span.small_icon {
    font-size: 14px !important;
}


.workshop_table_all ul#myTab li.nav-item a h2 {
    font-size: 14px !important;
}

.workshop_table_all ul#myTab li.nav-item a p {
    font-size: 11px !important;
}


.instructor_img span {
    font-size: 12px !important;
}


.instructor__details h2 {
    font-size: 14px !important;
}



.instructor__details h3 {
    font-size: 13px !important;
}

.reate h3 {
    font-size: 15px !important;
}

.reate label {
    font-size: 15px !important;
}


.workshop__done h2 {
    font-size: 22px !important;
}

.workshop__done p,
.workshop__done span {
    font-size: 16px !important;
}

.workshop__done h3 {
    font-size: 50px !important;
}


section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .instructor .instructor__details p.frist-child-p {
    font-size: 14px !important;
}

section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .instructor .instructor__details p {
    font-size: 15px !important;
}



.Rating label {
    font-size: 15px !important;
}


section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .tit__Workshops.row .Filter_idea label {
    font-size: 14px !important;
}

section.login.User--applay--form.Workshops_list__section.Ideas_Bank_option .tit__Workshops .Filter_idea select {
    font-size: 14px !important;
}

.Rating.Rating_hand ul.Rat li span.icon {
    font-size: 22px !important;
}



.datepickers .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group input#datepicker {
    font-size: 14px !important;
}


.datepickers .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group span.input-group-append button.btn.btn-outline-secondary.border-left-0 i.gj-icon {
    font-size: 18px !important;
}

.container.Workshops_list_container button.bt-training span.small_icon {
    font-size: 12px !important;
}


.survey__questions__item label {
    font-size: 14px !important;
}

.survey__questions__item .form-group .labels_check label.label_check {
    font-size: 13px !important;
}


ul.workshop__content li {
    font-size: 13px !important;
}



section.login.User--applay--form .side__menu__links ul.menu__links ul.menu__links__sup li a {
    font-size: 13px !important;
}


.Partners_list.experts__list .Partners_list__item .Partners_list__item__info h2 {
    font-size: 15px !important;
}

.Partners_list.experts__list .Filter_idea select {
    font-size: 14px !important;
}

.experts__list__details p {
    font-size: 13px !important;
}

.Partners_list.experts__list.other .Partners_list__item__info h2 {
    font-size: 16px !important;
}


.Partners_list.experts__list_other .Partners_list__items h2.h2_tit_1 {
    font-size: 16px !important;
}

.Partners_list.experts__list_other .Partners_list__items h3 {
    font-size: 16px !important;
}

/* start media screen */

@media (min-width:0px)and (max-width:540px) {

    .header-top p.font_p_header {
        font-size: 9px !important;
    }
}

@media (min-width:541px) and (max-width:767px) {

    .header-top p.font_p_header {
        font-size: 9px !important;
    }

    section.login.User--applay--form .side__menu__links ul.menu__links li a {
        font-size: 13px !important;
    }

    .statistics__biography h2.h2_tit_4 {
        font-size: 14px !important;
    }

    .statistics__biography ul.statistic__biography span.statistic__biography__name {
        font-size: 13px !important;
    }

    .statistics__biography ul.statistic__biography span.statistic__biography__value {
        font-size: 12px !important;
    }

    .statistics__biography ul.statistic__biography li p {
        font-size: 13px !important;
    }
}


@media (min-width:768px) and (max-width:991px) {

    section.login.User--applay--form .side__menu__links ul.menu__links li a {
        font-size: 13px !important;
    }

    .statistics__biography h2.h2_tit_4 {
        font-size: 14px !important;
    }

    .statistics__biography ul.statistic__biography span.statistic__biography__name {
        font-size: 13px !important;
    }

    .statistics__biography ul.statistic__biography span.statistic__biography__value {
        font-size: 12px !important;
    }

    .statistics__biography ul.statistic__biography li p {
        font-size: 13px !important;
    }

    .header-top p.font_p_header {
        font-size: 9px !important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .header-top p.font_p_header {
        font-size: 9px !important;
    }

    .copy--right p {
        font-size: 9px !important;
    }
}

@media (min-width:1200px) and (max-width:1299px) {
}

.mainTabCareers.nav-pills .nav-link {
    font-size: 16px !important;
}

.btn-simple.searches {
    font-size: 16px !important;
}

/* update */
.showVoting h3,
.newsLetter h3 {
    font-size: 18px;
}

.showVoting span {
    font-size: 14px;
}

.showVoting .label_check {
    font-size: 15px !important;
}

.votingBtn .bt-training {
    font-size: 14px !important;
}

.votingAccordion .panel-title p {
    font-size: 14px;
}

.votingAccordion a {
    font-size: 18px;
}

.veryGood p {
    font-size: 13px;
}

.sideMenuHelp span.name-option {
    font-size: 10px;
}

button.bt-training, .option-log input, a.bt-training, input.bt-training {
    font-size: 16px;
}

.paginationCustome span, .paginationCustome a {
    font-size: 12px;
}

.ms-rteFontSize-3 {
    font-size: 12px !important;
}


.jobList th {
    font-size: 16px;
}

.jobList td {
    font-size: 14px;
}

span.bt-training.visitIt {
    font-size: 11px !important;
}

.noData.jobList h3 {
    font-size: 22px;
}

.form.form__career.form__career2 .h3_tit_1 {
    font-size: 24px !important;
}

.header--list .nav .megaMenu li a {
    font-size: 13px !important;
}

.header--list .nav li .megaMenu li a {
    font-size: 13px !important;
}

.newContent h2 {
    font-size: 30px !important;
}

.listLinks a {
    font-size: 14px !important;
}

.trainingDetails h5 {
    font-size: 18px !important;
}

.trainingDetails h2 {
    font-size: 30px !important;
}

.trainingDetails p {
    font-size: 16px !important;
}
