/*Start Header*/
button:focus {
    outline: none !important;
    box-shadow: none !important
}

.pstlHeader {
    justify-content: space-between;
}

.header-bottom .pstlHeader .logo--header {
    width: 100%;
    height: auto;
    overflow: initial;
    margin: auto;
    text-align: initial;
}

.header-bottom .pstlHeader .logo--header img {
    width: 145px;
}

/*End Header*/

.mainSaqf {
    position: relative;
}

.header-bottom .logo--header img {
    width: 113px;
}

.saqfHome {
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: url(../img/saqfHome.png) top center no-repeat;
    text-align: center;
}

.saqfTitle h2 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.saqfHomeSlider {
    margin-top: -30px !important;
}

.saqfHomeSlider a {
    display: block;
}

.saqfHomeSlider .section__home__item {
    height: 175px;
    width: 190px;
}

.saqfHomeSlider .home__item-5 .section__home__item {
    background: rgba(62, 184, 115, 0.9);
}

.saqfHomeSlider .section__home__item .home__item__icon {
    top: 50%;
}

.saqfHomeSlider .home__item-1 {
    background: url(../img/bg3.png) center center no-repeat;
    background-size: cover;
    margin: 0 5px;
}

.saqfHomeSlider .home__item-2 {
    background: url(../img/safqbg2.png) center center no-repeat;
    background-size: cover;
    margin: 0 5px;
}

.saqfHomeSlider .home__item-3 {
    background: url(../img/safqbg4.png) center center no-repeat;
    background-size: cover;
    margin: 0 5px;
}

.saqfHomeSlider .home__item-4 {
    background: url(../img/safqbg4.png) center center no-repeat;
    background-size: cover;
    margin: 0 5px;
}

.saqfHomeSlider .home__item-5 {
    background: url(../img/safqbg5.png) center center no-repeat;
    background-size: cover;
    margin: 0 5px;
}

/* Start menuCircle */
.menuAction {
    cursor: pointer;
}

.menuCircle {
    position: absolute;
    right: 0;
    top: 20px;
}

.menuDetails {
    background: #fff;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
    width: 175px;
    overflow: hidden;
    margin-top: -30px;
    padding-top: 20px;
    border: 1px solid rgba(153, 153, 153, 0.156);
    border-right: 0;
}

.menuDetails ul {
    position: relative;
    padding-bottom: 15px;
}

.menuDetails ul:before {
    content: '';
    position: absolute;
    right: 28px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #00B2C3;
}

.menuDetails li {
    padding-top: 10px;
}

.menuDetails li a {
    display: block;
    padding: 5px 15px;
    color: #00B2C3;
    position: relative;
    padding-right: 45px;
    font-size: 10px;
    font-weight: bold;
}

.menuDetails li a:hover {
    background: rgba(3, 178, 194, 0.274);
}

.menuDetails li a:before {
    content: '';
    position: absolute;
    right: 23px;
    top: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #00B2C3;
}


/* End menuCircle */

/*Start expertsCons*/
.expertsCons {
    line-height: normal;
}

.expertsCons span {
    height: 30px;
    line-height: normal;
    display: block;
    overflow: hidden;
}

.expertsConsBlock .Partners_list__item__info h2 {
    padding: 0;
    margin: 5px 0 0;
}

.expertsConsBlock .Partners_list__item .Partners_list__item__img {
    border: 1px solid #707070;
}

.expertsConsBlock .Partners_list__item {
    padding: 0;
}

.Partners_list.experts__list.expertsConsBlock .Partners_list__item .Partners_list__item__img {
    width: 100%;
    height: 175px;
}

.side__menu__links ul.menu__links li a {
    cursor: pointer;
}

/*End expertsCons*/

/* Start PSTL */
.User--applay--form--shadow {
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-bottom: 30px;
}

.addfile input[type="file"] {
    line-height: 33px;
    padding: 0;
    margin: 0;
    width: 73% !important
}

.btnDownload:hover {
    color: #fff
}

.btnDownload {
    display: block;
    width: 100px;
    text-align: center;
    padding: 8px;
}

.btnDownload:hover {
    background: #3B3B97 !important
}

.paginationCustome a:hover,
.paginationCustome a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #707070;
    border-color: #707070;
}

.pstlCard .card {
    margin-bottom: 15px
}

.pstlCard .card-header {
    padding: 0;
    background: transparent;
    border-bottom: 0;
}

.pstlCard .card-header button {
    width: 100%;
    background: transparent;
    color: #00B2C3;
    text-align: right;
    white-space: unset;
    padding: 15px 10px;

}

.pstlCard .table {
    margin-bottom: 0
}
section.login.User--applay--form .side__menu__links ul.menu__links ul.menu__links__sup li a:hover {
    color: #fff !important
}
section.login.User--applay--form .side__menu__links ul.menu__links ul.menu__links__sup li a {
    color: rgba(75, 77, 76, 0.72) ;
    padding: 18px 25px 18px 20px;
}
/* End PSTL */



/* Start responsive */
@media (max-width: 360px) {}

@media (max-width: 446px) {
    .saqfComponent {
        width: 100%;
    }

    .saqfHomeSlider .section__home__item {
        width: 100%;
    }
}

@media (min-width:500px) {}

@media (max-width: 575px) {
    .form-group.selected.date__work select {
        width: 100%
    }
}

@media (min-width:500px) and (max-width:600px) {}

@media (max-width:600px) {}

@media (min-width:768px) {}

@media (max-width:767px) {
    .pstlHeader {
        display: block;
    }

    .header-bottom .pstlHeader .logo--header {
        margin: 0 auto;
        text-align: center;
    }

    .header-bottom .pstlHeader .logo--header img {
        width: 220px;
    }

    .header-bottom .pstlHeader .logo--header {
        margin-right: 0 !important;
    }
}

@media (max-width:991px) {}

@media (max-width:1199px) {}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1199px) {
    .header--list {
        margin-top: 25px;
    }
}

@media (max-width:1207px) {}



@media (max-width: 575px) {}

@media (max-width: 1020px) {}

@media (min-width: 1200px) {
    .header--list {
        margin-top: 8px;
    }

    .pstlHeader .header--list {
        margin-top: 15px;
    }
}

@media (min-width:767px) and (max-width:1208px) {}

@media (max-width:1200px) {
    .header-bottom .pstlHeader .logo--header {
        margin-right: 65px;
        padding: 12px 0;
    }
}

@media (max-width: 767px) {
    .form-group.addfile input {
        width: 100% !important;
    }
}

/* End responsive */