﻿input.ms-ButtonHeightWidth {
    color: #fff;
    background: #18A358;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    padding-top: 6px;
    border-radius: 6px;
    box-shadow: 1.5px 2.5px 7px rgba(0, 0, 0, 0.35);
}
input.ms-ButtonHeightWidth:hover {

    background: #00B2C3 !important;
}

table#onetIDListForm {}
.ms-core-tableNoSpace{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-top:30px;
      margin-bottom: 50px;
}
@media (min-width: 576px) {
.ms-core-tableNoSpace {
    max-width: 540px;
}
}
@media (min-width: 768px) {
.ms-core-tableNoSpace {
    max-width: 720px;
}
}
 
@media (min-width: 992px) {
.ms-core-tableNoSpace {
    max-width: 960px;
}
}
@media (min-width: 1200px) {
.ms-core-tableNoSpace {
    max-width: 1140px;
}
}

.ms-formbody label {
    font-size: 16px !important;
    color: #707070;
    padding-right: 10px;
    cursor: pointer;
}

.ms-RadioText input {
    width: 15px;
    height: 15px;
    cursor: pointer;
}